<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  
  <appSettings>
    <add key="defaultPath" value="C:\Users\naldo\Documents\Proyectos NET\XML Servigari\"/>
    
    <add key="connectionIngresos" value="C:\Users\naldo\Documents\Proyectos NET\XML Servigari\Ingresos.xml"/>
    <add key="connectionGastos" value="C:\Users\naldo\Documents\Proyectos NET\XML Servigari\Gastos.xml"/>
    <add key="connectionTipos" value="C:\Users\naldo\Documents\Proyectos NET\XML Servigari\TipoIngresos.xml"/>
  </appSettings>
  
</configuration>